.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
}

.itemName {
  font-weight: bold;
}

.line {
  border: 1px soild #f4f4f4;
}

/* Style the delete button */
.deleteButton {
  background-color: #f44336; /* Red background color */
  color: #fff; /* White text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  /* margin-top: -10px; */
  cursor: pointer;
  float: right;
  margin-top: -3px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

/* Change background color and text color on hover */
.deleteButton:hover {
  background-color: #d32f2f; /* Darker red on hover */
}
